
.mainBox{
    width: 50%;
    margin: auto;
    padding-right: 1%;
    padding: 1%;
    height: 70px;
}
.inpSearchBox{
    width: 98%;
    height: 50px;
    border-radius: 8px;
    font-size: 23px;
    padding-left: 45px;
}
.logoinp{
    display: flex;
}
.logo{
    width: 3%;
    height: 95%;
    position: relative;
    top: 15px;
    left: 38px;
}

.outputBox{
    /* border: 1px solid black; */
    height: 400px;
    width: 96.5%;
    margin-left: 3%;
    margin-top: 5px;
    border-radius: 8px;
    overflow-y: scroll;
    
}

.outputBox::-webkit-scrollbar {
    display: none;
}

.cityBoxSingle{
    border: 1px solid black;
    height: 50px;
    margin-top: 1px;
    border-radius: 8px;
}
.cityBoxSingle:hover{
    cursor: pointer;
    background-color: aquamarine;
}
.city{
    font-size: 20px;
    padding: 5px;
    font-weight: 500;
}
.state{
    font-size: 15px;
}